/* Large Tablet Devices */
@media only screen
and (max-width : 1800px) {

  .page_nav{width: 100%;}
  .header_info h2::before{left: 0;}
  .main_logo{left: 0;}
  .header_info h2 { padding-left: 50px; }
}

@media only screen
and (max-width : 1756px) {
  header{width: 100%;}
  .footer_btm{width: 100%;}
  .social_media{margin-right: -50px;}
}

@media only screen
and (max-width : 1700px) {
  .social_media{margin-right: -30px;}
}

@media only screen
and (max-width : 1600px) {
  .social_media{margin-right: 0;}
}

@media only screen
and (max-width : 1460px) {
.social_media {margin-right: 35px;}
.header_info{padding-left: 0;}
.main_logo{width: 300px; top: 130px;left: 50px;}
.header_info{margin-left: 0;}
.header_info h2{padding-left: 100px;}
.header_info h2::before{left: 50px;}
.footer_btm_con{padding: 0;}
}
@media only screen
and (max-width : 1400px) {
  /*Header Area*/

  /*Nav Area*/
  .page_nav ul li a { padding: 0 20px; }
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/
  .main_bg{max-width: 50%;}
  .sidebar{right: 5px;}
  /*Bottom Area*/
  .btm1_boxes{margin: 0 15px;}
  .btm1_boxes section h2{min-height: 80px;margin: 160px 0 25px;}
  .btm2_con{padding: 140px 15px 0;}

  .btm2_info{width: 520px;}
  .btm2_form {width: 620px;}
  /*Footer Area*/
  .footer_top_con{padding: 100px 15px 0;}
  .footer_btm_con{padding: 0 15px;}
  .footer_nav ul li a{padding: 0 60px;}
  .contact_info2{padding: 0 25px;}
}

@media only screen
and (max-width : 1300px) {
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/

  /*Footer Area*/
  .footer_logo{width: 320px;}
  .copyright{text-align: center; width: 100%;}
  .copyright_text::after{display: none;}

  .contact_info1{  width: 330px;}
}
@media only screen
and (max-width : 1200px) {
  /*Header Area*/
  .header_info{margin-top: 18px;}
  .header_info h2 span { display: block; line-height: 30px; }
  .header_info h2 { line-height: 30px; }
  .header_info h2::before { top: 12px; }
  /*Nav Area*/
 .page_nav ul li a{padding: 0 8px;}
  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/
  .box_img_holder{top: -120px;}
  .btm2_info{width: 400px;}
  .btm2_form{width: 550px;}
  /*Footer Area*/
  .footer_nav ul li a{padding: 0 50px;}
}
@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/

  /*Middle Area*/

  /*Main Area*/

  /*Bottom Area*/
  .btm1_boxes section h2{margin: 120px 0 25px;}

  /*Footer Area*/

  .footer_nav ul li a{padding: 0 40px;}
}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */
   .page_nav ul li.menu-item-has-children > span{display:block;font-size: 17px;right:20px;top:30px;position:absolute;}
   .page_nav ul li:hover > ul{display: none;}

   /*banner*/
   .box_skitter{top:0!important;}
}

@media only screen
and (max-width : 1000px) {

  /*animation*/
  .wow {animation-name: none !important;transform: none !important;opacity: 1 !important;}
  /*Header Area*/
  header {padding: 40px 25px;position: static; border-radius: 0; min-height: 0;}
  .header_con{min-height: 0;padding:0;}

  .main_logo{position: static;margin-top: 40px; width: 415px;}
  .head_info{float: right;}
  .header_info{float: none;
    margin: 0;
    padding: 0;
    text-align: right}
  .social_media{display:block;margin:0;float: none;text-align: right;}
  .social_media ul li:last-child{display: block;}
  .header_info h2{padding-left: 0;}
  .header_info h2::before{left: 30px; top: 0;}

  /*Nav Area*/
  .page_nav {width:100%;float: none; clear: both;height:auto;transition:none;padding:40px 25px;margin:0 auto 0;position: static; min-height: 0; border-radius: 0;}
  .page_nav ul{ margin:0; padding:0 5px;text-align:center;position: static;}
  .page_nav ul li{width: 32%; margin:5px 3px;}
  .page_nav ul li:after{display:none;}
  .page_nav ul li a{border:1px solid #494949;border-radius:50px;line-height: 60px;height:auto;padding: 0;}
  .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: none;background:#1692af;color: #fff;}

  .page_nav ul li.menu-item-has-children > span{right:0;top:15px;}


  .page_nav ul ul, .page_nav ul ul li, .page_nav ul ul li a {width:100%;}
  .page_nav ul ul li{margin: 0 !important}

  /*Banner Area*/
  #banner{}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{display:none;}
	.slider{display:block;width:100%;margin-left:0;transform: none;}
  .rslides{display: block;}
  .slider::before{display: none;}
    .bnr_info{width:100%;position:static;padding:45px 25px;text-align: center;background:#1692af;text-align: center;}

	/*NON-HOME*/
    .non_ban_img{width: 185%;margin-left: -40%;transform:none;}



  /*Middle Area*/
  #middle{padding: 40px 25px;}
	 .middle_con{min-height:0;padding:0;}
	  .middle_boxes{}
	  .middle_boxes section{}

  /*Main Area*/
  #main_area{padding: 0; margin:0;min-height:0;}
    .main_con{min-height:0;padding:0;}
      main, .sidebar{float:none; margin: auto; width:100%;position: static; text-align: left; padding: 40px 25px;}
      .main_bg{display:none;}
      .sidebar{text-align: center;}
      .side_box1 h2 small { display: inline-block; }
      .side_box1 h2 span{margin-top: 0;}
      main p{width: 100%; margin: 0;}
      .side_box1 p a{margin: 25px auto 0; position: static;}
      .intro_txt{width:100%;}
      .side_box1 p{right:0 ; margin: 0 auto; left: 0; width: 100%;}
      .side_box1 h2{padding: 0;}
      .side_box1{width: 100%; margin-left: 0; margin: 0 auto;}
      .main_holder{float: none; min-height: 0;}
      .sidebar_holder{float: none; width: 100%; margin-right: 0; min-height: 1200px; max-width: 100%; min-height: 0;}
  /*Bottom Area*/
  #bottom1{padding: 40px 25px;}
  .btm1_boxes{margin: 0;}
	 .btm1_con{min-height:0;padding:0;}
	  .btm1_boxes{position: static;}
	  .btm1_boxes section{ padding: 10px 15px;width: 44%; margin: 15px auto;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border-radius: 30px;}
    .btm1_boxes section h2{margin: 25px auto;}
    .box_img_holder img{width: 285px;}
    .btm1_boxes { flex-wrap: wrap; }
    .box_img_holder{position: static;}
      .box_img_holder img{padding: 0; position: static;}
  #bottom2{padding: 40px 25px;}
	 .btm2_con{min-height:0;padding:0;display: block;}
	  .btm2_boxes{}
	  .btm2_boxes section{}
    .btm2_info h2 span { margin: 25px 0; }
    .btm2_info{width: 100%; text-align: center; margin-bottom: 25px;}
    .btm2_form{width: 100%;}

    .btm2_form form button{width: 24%;}
    .btm2_form form textarea{width: 75%;}
  /*Footer Area*/
  footer{}
  .contact_info2{width: 100%; margin-top: 40px;}
  .contact_info1{width: 100%;}
  .contact_info1 h2 span{margin: 15px auto;}
  .contact_info1 p{margin-top: 0;}
  .contact_info2 ul h2{margin-bottom: 15px;}
    .footer_top{height:auto;padding: 40px 25px;}
	  .footer_top_con{min-height:0;padding-top: 40px; display: block; margin: 0 auto; text-align: center;}
    .footer_logomargin{margin: 0 auto; margin-top: 40px;}
	   .contact_info{width:100%;float:none;text-align:center;margin:0 auto;}
	   .contact_info ul{}
     .copyright_text:after{display: block;}
	   .contact_info ul li{padding:0;display:inline-block;vertical-align:top;margin:0 15px;}
	   .contact_info ul li:before{display:block;position:static;margin:0 auto 10px;}
     .footer_logo{margin: 0 auto; margin-top: 40px;}
	  .footer_btm{height:auto;padding: 40px 25px;border-radius: 0; position: static;}
	  .footer_btm_con{min-height:0;padding:0;line-height: 100%;}

  	.footer_nav ul li{display:inline-block;vertical-align:top;width:32%;}
  	.footer_nav ul li a{border:1px solid #fff;margin:5px;padding:15px 10px;line-height: initial; border-radius: 50px;}
	.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:none;background: #49cdaf; color: #1a1a1a;}
  	.footer_nav ul li:after{display:none;}
  	.footer_nav ul {text-align: center;}

  	.copyright{
  		float: none;
  		margin: 25px auto 0;
  		text-align: center;
  	}
}

@media only screen
and (max-width : 800px) {

  /* Header Area */
  header{background: #49cdaf;}
	.main_logo{max-width: 78%; margin: 0;}
	.head_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
	.header_info{display:block;margin:0 auto;text-align:center;padding:0;float:none;}
  .header_info h2::before{position: static; display: block; margin: 0 auto;}
  .social_media ul li:first-child{padding: 0;display: block;}
  .social_media ul li:last-child{padding: 0;}
  .social_media ul li:last-child a{margin: 0 auto;}
	.social_media{text-align: center;}

  /* Nav Area*/
  #nav_area{padding:40px 25px;background:#fff;position:relative;}
  .nav_toggle_button{display:block;position:relative;}

	.page_nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #49cdaf;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;float: none; clear: both;z-index:250;}
	.page_nav ul{margin: 0; padding: 25px 15px;}
	.page_nav ul li{width: 100%; display: block; margin: 0 auto 5px;}

	.page_nav ul ul{width:100%; position:relative;  transition:none;}
	.page_nav ul ul li {border:none; width:100%;}


  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  nav.toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {display:block;float:left;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}

  /*Banner Area*/

  /*Middle Area*/
 
  /*Main Area*/
  .side_box1 h2 span{line-height: 100%;}
  .side_box1 h2 small {margin: 0;}
  .side_box1 p {margin: 25px auto 0;}
  /*Bottom Area*/


  /*Footer Area*/
  .contact_info{}
  .contact_info ul{}
  .contact_info ul li{display:block;margin:15px auto;}


  .footer_nav ul li{width:48%;}

  .footer_comp{display:block;margin:0 auto;padding:0;}
  .footer_comp:before, .footer_comp:after{display: none;}

  /* Other */
  .thumb_right_dd, .thumb_left_dd{width: 250px;}
  .col3{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .sitemap{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Header Area*/

  /*Nav Area*/

  /*Banner Area*/
  .slider{display:none;}
  .mobi_ban{display: block;width:100%;margin-left:0;}
  .non_ban_img{width: 275%;margin-left: -82%;}
  .page_title{position: static;background: #000;font-size: 30px;}



  /*Middle Area*/
  .middle_boxes section{display:block;width: 100%;margin:15px auto;}

  /*Main Area*/
  main .h1_title{line-height: 100%;}
  /*Bottom Area*/
  .btm1_boxes section{display:block;width: 80%;margin:15px auto;}

  .btm1_boxes section h2{min-height: 0;}

  .btm2_form form textarea{width: 100%; height: 100px;}
  .btm2_form form button {width: 173px; margin: 25px auto 0; text-align: center; display: block; height: 100px;}
  /*Footer Area*/
  footer {padding-bottom: 45px;}

  .footer_nav ul li{display:block;vertical-align:top;width:100%;}
  .footer_nav ul li a{margin:5px auto;}
  .footer_logo{width: 280px;}
  .contact_info2 ul li mark { display: block; }
  .contact_info2 ul li small { display: block; }
  .contact_info2 ul li a { display: block; }
  .contact_info1 p{line-height: 30px;}
  .copyright_text:after{display: none;}
  .copyright span{display: block;}
  /*Others*/
  #wpadminbar {position: fixed!important;}
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  .thumb_left_dd, .thumb_right_dd, .thumb_center_dd{display: none;}
  main .bullet{padding-left:10px;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 400px) {

  .btm1_boxes section{width: 100%;}
}
